body{
    margin: 0px; /*Para que el navegador no me lo haga por defecto, supongo que despues lo tengo que sacar*/
    background-image: url('./src/images/istockphoto-1148888540-170667a.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* HEADER*/
header{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: black;
}
/* FOOTER*/
footer {
    font-size: 15px;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
 }

/* DIVS */
div {
    min-height: 500px;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    margin: 0 auto;

}

.right{
    border: 1px solid black;
    text-align: center;
    flex-direction: column;
    right: 0%;
}

.left{
    border: 1px solid black;
    border-right: 0px;
    text-align: center;
    flex-direction: column;
    left: 0;
}

div.contacto>a>img{
    padding: 0px 20px 0px 20px;
    height: 50px;
    width: 50px;
}

/* BUTTON */
button {
    transform: translateY(150px);
    margin: 0 auto;
    margin-top: 10px;
    width: 25%;
    padding-top: 5px;
    height: 30px;
    border: 1px solid black;
}

#redirect{
    padding: 0 5% 0 5%;
}

/* VARIOS */
img{
    height: 200px;
    width: 200px;
}

#opgg{
    height: 50px;
    width: 75px;
}

p{
    margin-top: 10px;
}

h3{
    margin-bottom: 5px;
}
